{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Edit Your Profile</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ftco-section" style="background-color: rgb(204, 223, 255);">
  <div class="container">
    <div classnamename="row">
      <div class="col-md-16 col-lg-8">
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Personal details</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-5">
        <form enctype="multipart/form-data" class="p-5 bg-white" style="border-radius:25px;" action="{% url 'update-profile' %}" method="post">
          {% csrf_token %}
          <div class="row form-group">
            <div class="col-md-4 mb-3 mb-md-0">
              <img id='image-preview' src="{{pic}}" width="150px" height="150px" alt="profile pic">
              <hr/>
              {{form.profile_pic}}
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <label class="font-weight-bold">Full name</label>
              {{form.first_name}}
              <label class="font-weight-bold">Full name</label>
              {{form.last_name}}
              <label class="font-weight-bold">National ID</label>
              {{form.id_number}}
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <label class="font-weight-bold">Status</label>
              {{form.status}}
              <br/>
              <label class="font-weight-bold">City</label>
              {{form.city}}
              <label class="font-weight-bold">Country</label>
              {{form.country}}
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <button type="submit" class="boxed-btn3">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-5">
        <form class="p-5 bg-white" style="border-radius:25px;" action="{% url 'update-education' %}" method="post">
          {% csrf_token %}
          <div>
            <h2 id="education">Education</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Field of Study</th>
                  <th>School</th>
                  <th>Certification</th>
                  <th>End Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for edu in values.education %}
                <tr id="row-education-{{edu.id}}">
                  <td>{{edu.study_field}}</td>
                  <td>{{edu.institution}}</td>
                  <td>{{edu.certification}}</td>
                  <td>{{edu.end_date}}</td>
                  <td>
                    <button class="delete-education" style="color: rgb(255, 0, 0);"><span class="icon-delete"></span> delete</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <p class="bold"><span class="icon-plus"></span> Add Education</p>
            <div class="row form-group">
              <div class="col-md-4 mb-3 mb-md-0">
                <label class="font-weight-bold" >Field Of Study</label>
                {{form_education.study_field}}
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                <label class="font-weight-bold" >School</label>
                {{form_education.institution}}
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                <label class="font-weight-bold" >Certification</label>
                {{form_education.certification}}
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4 mb-3 mb-md-0">
                <label class="font-weight-bold" >From</label>
                {{form_education.start_date}}
              </div>
              <div class="col-md-4 mb-3 mb-md-0">
                <label class="font-weight-bold" >To</label>
                {{form_education.end_date}}
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <h4>Specialized subjects</h4>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                {{form_education.description}}
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <button type="submit" class="boxed-btn3">Add</button>
                <button class="btn btn-danger  py-2 px-5 float-right">Cancel</button></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 mb-5">
          <form class="p-5 bg-white" style="border-radius:25px;" method="post" action="{% url 'update-experience' %}">
            {% csrf_token %}
            <div>
              <h2 id="experience">Experience</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Position</th>
                    <th>Job Type</th>
                    <th>Company</th>
                    <th>Start Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for exp in values.experience %}
                  <tr id="row-experience-{{exp.id}}">
                    <td>{{exp.position}}</td>
                    <td>{{exp.get_job_type_display}}</td>
                    <td>{{exp.company}}</td>
                    <td>{{exp.start_date}}</td>
                    <td>
                      <button class="delete-experience" style="color: rgb(255, 0, 0);"><span class="icon-delete"></span> delete</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <p class="bold"><span class="icon-plus"></span> Add Experience</p>
              <div class="row form-group">
                <div class="col-md-4 mb-3 mb-md-0"><label class="font-weight-bold" >Position</label>
                  {{form_experience.position}}
                  <label class="font-weight-bold" >Job Type</label>
                  {{form_experience.job_type}}
                </div>
                <div class="col-md-4 mb-3 mb-md-0"><label class="font-weight-bold" >Company</label>
                  {{form_experience.company}}
                  <label class="font-weight-bold" >Company size</label>
                  {{form_experience.company_size}}
                </div>
                <div class="col-md-4 mb-3 mb-md-0"><label class="font-weight-bold" >Company homepage</label>
                  {{form_experience.company_homepage}}
                  <label class="font-weight-bold" >Industry</label>
                  {{form_experience.industry}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4 mb-3 mb-md-0"><label class="font-weight-bold" >From</label>
                  {{form_experience.start_date}}
                </div>
                <div class="col-md-4 mb-3 mb-md-0"><label class="font-weight-bold" >To</label>
                  {{form_experience.end_date}}
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                  {{form_experience.current_job}}
                  <label class="font-weight-bold" >Current Job</label>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <h4>Job Description</h4>
                </div>
                <div class="col-md-12 mb-3 mb-md-0">
                  {{form_experience.description}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <button type="submit" class="boxed-btn3">Add</button>
                  <button class="btn btn-danger  py-2 px-5 float-right">Cancel</button></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 mb-5">
            <form enctype="multipart/form-data" class="p-5 bg-white" style="border-radius:25px;" method="post" action="{% url 'update-resume' %}">
              {% csrf_token %}
              <h2 id="resume">Additional Information</h2>
              <div class="col-md-4 mb-3 mb-md-0">
                <h4>Upload resume</h4>
                {{form_resume.cv}}
              </div>
              <hr />
              <div class="row form-group">
                <div class="col-md-12">
                  <h4 class="profile">Cover letter</h4>
                </div>
                <div class="col-md-12 mb-3 mb-md-0">
                  {{form_resume.cover_letter}}
                </div>
                <hr />
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0"><button type="submit" class="boxed-btn3">Save</button><button class="btn btn-danger  py-2 px-5 float-right">Cancel</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 mb-5">
            <form class="p-5 bg-white" style="border-radius:25px;" action="{% url 'update-language' %}" method="post">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <h4 id="language">Languages</h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Language</th>
                        <th>Proficiency</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for language in values.languages %}
                      <tr id="row-language-{{language.id}}">
                        <td>{{language.language}}</td>
                        <td>{{language.proficiency}}</td>
                        <td>
                          <button data-id="{{langauge.id}}" class="delete-language" style="color: rgb(255, 0, 0);"><span class="icon-delete"></span> delete</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="row form-group">
                    <div class="col-md-4 mb-3 mb-md-0">
                      <label class="font-weight-bold" >Languages</label>
                      {{form_language.language}}
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0"><label class="font-weight-bold" >Proficiency</label>
                      {{form_language.proficiency}}
                    </div>
                    <div class="col-md-2 mb-3 mb-md-0">
                      <label class="font-weight-bold" >add language</label>
                      <button type="submit" class="boxed-btn3">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
      </div>
    </div>
{% endblock %}
