{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- HOME -->
  <!-- slider_area_start -->
   <div class="slider_area">
       <div class="single_slider  d-flex align-items-center slider_bg_1">
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-lg-7 col-md-6">
                       <div class="slider_text">
                           <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">250+ Vetted Experts</h5>
                           <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Platform for Finance and Data Experts</h3>
                           <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Access our pool of experienced, qualified and vetted Experts</p>
                           <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                               <a href="#" class="boxed-btn3">Hire Expert</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
           <img src="{% static 'img/banner/illustration.png' %}" alt="">
       </div>
   </div>
   <!-- slider_area_end -->
   <!-- popular_catagory_area_start  -->
   <div class="popular_catagory_area">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <div class="section_title mb-40">
                       <h3>Find Experts in</h3>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-4 col-xl-3 col-md-6">
                   <div class="single_catagory">
                       <a href="jobs.html"><h4>Accounting</h4></a>
                       <p> <span>50</span> Available Candidates</p>
                   </div>
               </div>
               <div class="col-lg-4 col-xl-3 col-md-6">
                   <div class="single_catagory">
                       <a href="jobs.html"><h4>Financial Modelling</h4></a>
                       <p> <span>50</span> Available Candidates</p>
                   </div>
               </div>
               <div class="col-lg-4 col-xl-3 col-md-6">
                   <div class="single_catagory">
                       <a href="jobs.html"><h4>Data & Analytics</h4></a>
                       <p> <span>50</span> Available Candidates</p>
                   </div>
               </div>
               <div class="col-lg-4 col-xl-3 col-md-6">
                   <div class="single_catagory">
                       <a href="jobs.html"><h4>Auditing</h4></a>
                       <p> <span>50</span> Available Candidates</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- popular_catagory_area_end  -->

   <div class="top_companies_area">
     <div class="container">
       <div class="row align-items-center mb-40">
         <div class="col-lg-6 col-md-6">
           <div class="section_title">
             <h3>Top Companies</h3>
           </div>
         </div>
         <div class="col-lg-6 col-md-6">
           <!--<div class="brouse_job text-right">
             <a href="jobs.html" class="boxed-btn4">Browse More Jobs</a>
           </div>-->
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-xl-3 col-md-6">
           <div class="single_company">
             <div class="thumb">
               <img src="{% static 'img/svg_icon/5.svg' %}" alt="">
             </div>
             <a href="#"><h3>Snack Studio</h3></a>
             <p> <span>50</span> Available position</p>
           </div>
         </div>
         <div class="col-lg-4 col-xl-3 col-md-6">
           <div class="single_company">
             <div class="thumb">
               <img src="{% static 'img/svg_icon/4.svg' %}" alt="">
             </div>
             <a href="jobs.html"><h3>Snack Studio</h3></a>
             <p> <span>50</span> Available position</p>
           </div>
         </div>
         <div class="col-lg-4 col-xl-3 col-md-6">
           <div class="single_company">
             <div class="thumb">
               <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
             </div>
             <a href="#"><h3>Snack Studi</h3></a>
             <p> <span>50</span> Available position</p>
           </div>
         </div>
         <div class="col-lg-4 col-xl-3 col-md-6">
           <div class="single_company">
             <div class="thumb">
               <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
             </div>
             <a href="jobs.html"><h3>Snack Studio</h3></a>
             <p> <span>50</span> Available position</p>
           </div>
         </div>
       </div>
     </div>
   </div>

   <!-- testimonial_area  -->
   <div class="testimonial_area  ">
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <div class="section_title text-center mb-40">
             <h3>Testimonial</h3>
           </div>
         </div>
         <div class="col-xl-12">
           <div class="testmonial_active owl-carousel">
             <div class="single_carousel">
               <div class="row">
                 <div class="col-lg-11">
                   <div class="single_testmonial d-flex align-items-center">
                     <div class="thumb">
                       <img src="{% static 'img/testmonial/author.png' %}" alt="">
                       <div class="quote_icon">
                         <i class="Flaticon flaticon-quote"></i>
                       </div>
                     </div>
                     <div class="info">
                       <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                       <span>- Micky Mouse</span>
                     </div>
                   </div>
                  </div>
                </div>
              </div>
              <div class="single_carousel">
                <div class="row">
                  <div class="col-lg-11">
                    <div class="single_testmonial d-flex align-items-center">
                      <div class="thumb">
                        <img src="{% static 'img/testmonial/author.png' %}" alt="">
                        <div class="quote_icon">
                          <i class=" Flaticon flaticon-quote"></i>
                        </div>
                      </div>
                      <div class="info">
                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                        <span>- Micky Mouse</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single_carousel">
                <div class="row">
                  <div class="col-lg-11">
                    <div class="single_testmonial d-flex align-items-center">
                      <div class="thumb">
                        <img src="{% static 'img/testmonial/author.png' %}" alt="">
                        <div class="quote_icon">
                          <i class="Flaticon flaticon-quote"></i>
                        </div>
                      </div>
                      <div class="info">
                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                        <span>- Micky Mouse</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
