{% extends 'mainapp/base.html' %}


    {% block content %}
    <section class="ftco-section" style="background-color: rgb(204, 223, 255);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 heading-section text-center ">
                    <h2 class="mb-4">Recent Jobs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ">

                    {% for job in jobs %}

                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                        <div class="mb-4 mb-md-0 mr-1">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">{{job.title}}</h2>
                            </div>
                            <div class="job-post-item-body d-md-flex d-block">
                                <p>
                                    <div></div>
                                </p>
                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span><span class="bold">{{job.hiring_organization.company}}</span></div>
                                <div class="mr-3"><span class="icon-my_location"></span> <span class="bold">{{job.job_location}}</span></div>
                                <div class="mr-3"><span>Type: </span> <span class="bold">{{job.employment_type}}</span></div>
                            </div>
                        </div>
                        <div class="ml-auto d-flex"><a href="{% url 'job-post' job.slug %}" class="btn btn-primary py-2 mr-1">Apply Job</a>
                            <button data-slug="{{job.slug}}" class="btn btn-danger rounded-circle btn-favorite d-flex align-items-center icon"><span class="icon-heart"></span></button>
                        </div>
                    </div>

                {% endfor %}






                </div>

                <div class="col-md-4 sidebar bg-light" >
                        <div class="sidebar-box">
                            <form class="search-form" method="get" action="{% url 'search' %}">
                                <div class="form-group"><span class="icon icon-search"></span><input type="text" name="keyword" class="form-control" placeholder="Type a keyword and hit enter"></div>
                            </form>
                        </div>
                        <div class="sidebar-box ">
                            <div class="categories">
                                <h3>Categories</h3>

                                {% for category in categories %}
                                <li><a href="/jobs/category/{{category.0}}">{{category.1}}</a></li>
                              {% endfor %}

                            </div>
                        </div>
                        <div class="sidebar-box subscribe-box">
                            <h3>Get Daily Job Alerts</h3>
                            <p>Subcribe for daily job alerts from KaziQuest. It's all free! We promise no spam.</p>
                            <form class="search-form" id="subscribe-form">
                                <div class="form-group"><span class="icon icon-email"></span><input type="text" id="subscribe-email" name="email" class="form-control" placeholder="Enter Email"></div>
                                <div class="form-group"><input type="submit" class="btn btn-primary px-3" value="Subscribe"></div>
                            </form>
                        </div>
                    </div>
            </div>

           {% if jobs.has_other_pages%}
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if jobs.has_previous %}
                        <li><a href="?page={{ jobs.previous_page_number }}">&lt;</a></li>
                        {% endif %}

                        {% for i in jobs.paginator.page_range %}
                        {% if jobs.number == i %}
                        <li class="active" id="1">{{i}}</li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}


                        {% if jobs.has_next %}
                        <li><a href="?page={{ jobs.next_page_number }}">&gt;</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
    </section>


    {% endblock %}
